.container {
    background-color: #dac0ff;
    height: auto;
    padding: 20px;
    border-radius: 15px;
}

h1 {
    color: #690cb0;
}

.cardContainer {
    background-color: #f3eaff;
    height: auto;
    width: auto;
    padding: 18px;
    border-radius: 15px;
    border: 2px solid #9aa5b1;
}

#submitBtn {
    background-color: #690cb0;
    color: #ffffff;
    border-radius: 3px;
    border: none;
    width: 70px;
    height: 30px;
}

#resetBtn {
    background-color: #f2ebf3;
    border-radius: 3px;
    border: none;
    width: 70px;
    height: 30px;
}

img {
    height: 60px;
}

span {
    font-size: 15px;
}

#timer {
    font-size: 40px;
}